@use './reset';
@use './variables' as variables;

.header {
  @include variables.container(space-between);
  padding: 25px;
  width: 1368px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;

  &__actions {
    @include variables.container-gap(30px);
  }
  
  &__link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
  }
  
  &__button {
    color: #FFF;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
}

.menu {
  @include variables.container-gap(40px);
  list-style: none;

  &__item {
    font-weight: 600;
  }
  
  &__item, &__icon {
    @include variables.container-gap(3px);
  }
  
  &__icon {
    color: variables.$gray;
  }
  
  &__link {
    color: #000;
    text-decoration: none;
  }
}

.sub-menu {
  display: none;
}

.hero {
  background-color: hsla(132, 0%, 100%, 1);
  background-image: radial-gradient(circle at 91% 11%, hsla(13, 100%, 88%, 0) 4.038772213247173%, transparent 37.2265767974114%), radial-gradient(circle at 23% 50%, hsla(323, 100%, 88%, 0.76) 19.04202876606054%, transparent 63.33640956108327%), radial-gradient(circle at 73% 35%, hsla(267.9999999999999, 100%, 88%, 0.8) 21.05892295704486%, transparent 63.33640956108327%);
  background-blend-mode: normal, normal, normal;
  padding: 180px;
  
  &__data {
    @include variables.container-gap(50px);
    max-width: 1368px;
    margin: 0 auto;
    padding-inline: 25px;
  }
  
  &__title {
    font-size: 75px;
    text-wrap: balance;
  }
  
  &__description {
    font-size: 23px;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  &__button {
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    overflow: hidden;
    padding: 5px;
    box-sizing: content-box;
  }
  
  &__button {
    span {
      background-color: #000;
      border-radius: 5px;
      color: #FFF;
      display: block;
      padding: 10px;
      position: relative;
      z-index: 1;
    }
  }
  
  &__button {
    &::after {
      content: '';
      width: 1000px;
      height: 1000px;
      position: absolute;
      background-image: linear-gradient(144deg, #fc7a9b, #b47eee);
      left: -300px;
      border-radius: 5px;
      top: -300px;
      z-index: 0;
      animation: gradient 2s infinite;
    }
  }

  &__requirements {
    color: variables.$gray;
    font-size: 16px;
  }
}

@keyframes gradient {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

.banner {
  display: flex;
  border-radius: 10px;
  background-color: #FFF;
  width: 792px;
  margin: 70px auto;
  text-decoration: none;
  color: #000;
  height: 112px;
  transition: 0.5s transform;

  &:hover {
    transform: scale(1.05);
  }
  
  &__container {
    padding: 20px;
  
    p {
      span {
        font-weight: 600;
        border-bottom: 2px solid variables.$gray;
      }
    }
  }
  
  &__video {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  &__title {
    font-size: 17px;
  }
}

.bento {
  max-width: 1368px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  &__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #e4d7d7;
    padding: 20px;
  
    &--primary {
      background-color: #b47eee;
    }
  }

  $distributions: (
    1: 1 / span 6,
    2: 7 / span 3,
    3: 10 / span 3,
    4: 1 / span 3,
    5: 4 / span 3,
    6: 7 / span 6
  );

  @each $key, $value in $distributions {
    & :nth-child(#{$key}) {
      grid-column: $value;
    }
  }

  // @for $i from 1 through 6 {
  //   & :nth-child(#{$i}) {
  //     @if $i == 1 {
  //       grid-column: 1 / 7;
  //     } @else if $i == 2 {
  //       grid-column: 7 / 10;
  //     } @else if $i == 3 {
  //       grid-column: 10 / 13;
  //     } @else if $i == 4 {
  //       grid-column: 1 / 4;
  //     } @else if $i == 5 {
  //       grid-column: 4 / 7;
  //     } @else if $i == 6 {
  //       grid-column: 7 / 13;
  //     }
  //   }
  // }

}


.carousel {
  padding-block: 70px;
  background-color: #f5f5f5;
  position: relative;
  
  &__container {
    padding-bottom: 50px;
    max-width: 900px;
    margin: 0 auto;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__wrapper {
    @include variables.container-gap(40px);
  }

  &__item {
    @include variables.container-gap(40px);
    align-items: start;
    padding: 50px;
    border-radius: 20px;
    background-color: #FFF;
    min-width: 792px;

    p {
      color: #5c5c5c;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__data {
    @include variables.container-gap(100px);
  }

  &__arrow {
    @include variables.container(center);
    background-color: #0000000a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &--prev {
      rotate: 180deg;
    }
  }

  &__arrows {
    position: absolute;
    bottom: 70px;
    right: 500px;
    @include variables.container(end);
    margin-top: 20px;
    margin-right: 120px;
    gap: 10px;
  }

  &__author {
    margin-top: 20px;
    @include variables.container(start);
    gap: 20px;

    img { 
      width: 50px;
      border-radius: 50%;
    }
  }
}
